/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'Poppins';
  src:url('../fonts/Poppins.ttf.woff') format('woff'),
      url('../fonts/Poppins.ttf.svg#Poppins') format('svg'),
      url('../fonts/Poppins.ttf.eot'),
      url('../fonts/Poppins.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src:url('../fonts/Poppins-SemiBold.ttf.woff') format('woff'),
      url('../fonts/Poppins-SemiBold.ttf.svg#Poppins-SemiBold') format('svg'),
      url('../fonts/Poppins-SemiBold.ttf.eot'),
      url('../fonts/Poppins-SemiBold.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}
html {
  width: 1024px;
  margin: 0 auto;
  font-family: 'Poppins';
}

body .container {
  width: 918px;
  margin: 0 auto;
}

#header {
  text-align: left;
  padding: 50px 0 20px;
}

h1 { 
  font-size: 2em;
  font-family: 'Poppins-SemiBold';
  color: #2427ab;
}

h2 { 
  font-family: 'Poppins-SemiBold';
  font-size: 1.15em;
  padding-bottom: 15px;
}

h3 { 
  font-family: 'Poppins-SemiBold';
  font-size: 1.1em;
  padding-bottom: 15px;
}

p {
  line-height: 1.5;
}

.inlineFields {
  display: flex;
  justify-content: left;
  padding: 15px 0;
}

.inlineFields .separator {
  margin: 0 10px;
}

.description {
  padding: 20px 0;
  text-align: left;
}

.description span {
  font-family: 'Poppins-SemiBold';
  display: block;
}

.section span.title{
  color: #2427ab;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.1em;
  line-height: 1.5;
  margin-bottom: 10px;
}

article {
  margin-bottom: 20px;
}

article .inlineFields {
  justify-content: flex-start;
  padding: 0;
  line-height: 1.25;
}


article .roleName {
  font-family: 'Poppins-SemiBold';
  line-height: 1.25;
}

article .company, article .educationName {
  font-family: 'Poppins-SemiBold';
  font-size: 1.1em;
}

article .company {
  padding-left: 3px;
}


article .location {
  display: inline-block;
}

article .inlineFields > span::before , article .location::before{
  content: '·';
  padding: 0 5px;
} 

article ul li {
  list-style: disc;
  margin-left: 20px;
  line-height: 1.25;
  padding-bottom: 10px;
}

ul.list li {
  display:inline-block;
  margin-left: 0;
}

ul.list li::last::after {
  content: '';
}

ul.list strong {
  font-family: 'Poppins-SemiBold';
}
